body {
    background-color: #b35844;
}
h1 {
    color :white;
}

#title1 {
    font-size: 45px;
}
#title3 {
    font-size: 30
}

a:hover {
    color:black
}
#1 { 
font-size:}

#title3 { 
color: white
}
#title2 {
    color:white
}
